
<nav class="navbar navbar-default navbar-static-top">
      <div class="container ">

          <div class="navbar-header col-md-3 col-sm-3">


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
               <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand " href="{% url 'gateway:product-list'  %}">AliPocket</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse ">


                  <div id="custom-search-input" class="form-inline col-md-5 col-sm-4 ">
                        <div class="input-group col-sm-12 ">
                            <input type="text" class="  search-query form-control" placeholder="   USB шнур " />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class=" glyphicon glyphicon-search "></span>
                                </button>
                            </span>
                        </div>
                  </div>

                  <ul class="nav navbar-nav navbar-right col-md-4 col-sm-5 align-right ">
                    <li><a href="/contact">Обратная связь</a></li>
                    <li><a href="/cart/3/"><span class="glyphicon glyphicon-shopping-cart "></span> Корзина   <li></li></a></li>


                  </ul>

          </div><!--/.nav-collapse -->
          <div class = "col-md-3 col-sm-4 nav-text align-left">
            <text>Интернет-магазин подарков и аксессуаров</text>
          </div>
      </div>

</nav>












