<nav class="navbar navbar-default navbar-static-top">
      <div class="container ">
          <p></p>
          <div class="navbar-header col-sm-12">

              <a class="navbar-brand " href="/">AliPocket</a>
          </div>
          <div class = " col-sm-12 nav-text align-left">
            <text>Интернет-магазин аксессуаров</text>
          </div>
      </div>
     <p>

     </p>

      <div class="container ">
          <!--<div id="navbar" class="navbar-collapse collapse ">-->

              <ul class="nav navbar-nav nav-down-text col-md-4 col-sm-4 col-xs-0 ">
                <li  ><a href="/contact">Партнерам</a></li>
              </ul>

              <ul class="nav navbar-nav nav-down-text col-md-4 col-sm-4 ">
                <li><a href="/contact">Мобильное приложение</a></li>
              </ul>

                <ul class="nav navbar-nav nav-down-text col-md-4 col-sm-4 ">
                <li><a href="/contact">Присоединяся к нам</a></li>
                </ul>

              <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li  ><a href="/contact">О комании</a></li>
              </ul>

              <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li><a href="/contact">App Store</a></li>
              </ul>

                <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li><a href="/contact">Instagram</a></li>
              </ul>

              <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li  ><a href="/contact">Что предлагаем</a></li>
              </ul>

              <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li><a href="/contact">Google Play Market</a></li>
              </ul>

                <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li><a href="/contact">ВКонтакте</a></li>
              </ul>



              <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li  ><a href="/contact">Как это работает</a></li>
              </ul>

              <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li><a></a></li>
              </ul>

                <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li><a href="/contact">Facebook</a></li>
              </ul>


              <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li  ><a href="/contact">Соглашение</a></li>
              </ul>

              <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li><a></a></li>
              </ul>

                <ul class="nav navbar-nav  col-md-4 col-sm-4 ">
                <li><a>Блог</a></li>
              </ul>




              <ul class="nav navbar-nav nav-down-text col-xs-12">
                <li  ><a href="/contact">Партнерам</a></li>
              </ul>



          <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
      </div>



</nav>


<nav class="navbar navbar-default navbar-static-top2">
    <div id="navbar_down" class="navbar-collapse collapse ">
        <div class="container text-align-center">
            <ul class="nav navbar-nav col-sm-4 ">

            </ul>
           <ul class="nav navbar-nav col-sm-4 ">
                <li class="text-align-center"><a>© 2017 TОО «Интернет акссессуары».</a></li>
              </ul>
        </div>
    </div>
</nav>