{% extends 'gateway/base.html' %}

{% load thumbnail %}

{% load static %}


<style>
    {% block style %}


    {% endblock %}
</style>


{% block content %}
  <div class="container">
    <div class="row">
    <article class="product-detail">
        <section class="col-sm-12 col-md-5 col-md-push-1">
          <figure>
            <img class="img-responsive full-width" src="https://image.flaticon.com/icons/png/128/214/214305.png" alt="">
          </figure>
        </section>

        <section class="col-sm-12 col-md-4 col-md-push-2">
          <hgroup class="product-detail-head">
            <h1>{{ product.name }}</h1>
            <h4 class="product-detail-head__price">Цена: ${{ product.price|floatformat }}</h4>
          </hgroup>
          <p class="product-detail__desc">Информация о продукте: {{ product.content }}</p>



            <form method="post"  action="{% url 'gateway:cart' cart_id=2 %}">
            <button type="submit"  class="btn btn-default full-width btn-buy" >
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="product_id" value={{ product.product_id }}>
              <i class="fa fa-shopping-bag" aria-hidden="true"></i> &nbsp;Добавить в корзину
            </button>
          </form>




        </section>
      </article>
    </div>
  </div>
{% endblock %}