{% extends 'gateway/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Успех</h1>
                    <h2>{{ error_short }}</h2>
                    <div class="error-details">
                        {{ error_description }}
                    </div>
                    <div class="error-actions">
                        <a href="{% url 'gateway:product-list'  %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> На домашнюю страницу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}